In [1]:
import pandas as pd 
import researchpy as rp

In [5]:
data = pd.read_csv('jnu_distance_learning_cleaned.csv')
data.head()

,Age:,Gender:,Faculty:,Department:,Do you agree-,Which type of platforms did you use?,How long was the average class time?,Average classes per week:,What is your preferred online class duration?,How long have you been doing online classes?,Satisfactory level in online class:,Did you feel any mental disturbance during online class?,What kind of mental disturbance did you feel during online class?,Did you face any physical problem during online class?,What kind of physical problem did you face during online class?,How attentive do you think you were in the online classes ?,Do you prefer online classes over direct classes?,Your understanding level in Online class vs. Direct Class: [Online Class],Your understanding level in Online class vs. Direct Class: [Direct class]
0,22.0,Female,Faculty of Life & Earth Science,Department of Biochemistry & Molecular Biology,Agree,Zoom,1.0,3.0,45 - 60 minutes,2 Semister,3.0,Yes,"Felt bored, Attention split, Depression, Mood ...",Yes,"Sore, tiredness in eye, burning or itching eye...",NaN,NaN,NaN,NaN
1,22.0,Female,Faculty of Life & Earth Science,Department of Biochemistry & Molecular Biology,Agree,Google Meet,3.0,16.0,45 - 60 minutes,NaN,5.0,Yes,"Felt bored, Anxiety",Yes,"Sore, tiredness in eye, burning or itching eye...",NaN,NaN,NaN,NaN
2,22.0,Female,Faculty of Life & Earth Science,Department of Microbiology,Agree,"Zoom, Google Meet",4.0,3.0,45 - 60 minutes,2 semester,3.0,Yes,"Felt bored, Attention split, Depression, Mood ...",Yes,"Sore, tiredness in eye, burning or itching eye...",NaN,NaN,NaN,NaN
3,22.0,Male,Faculty of Life & Earth Science,Department of Microbiology,Agree,"Zoom, Google Meet",1.5 Hours,20.0,45 - 60 minutes,2 semester,5.0,Yes,"Felt bored, Attention split",Yes,"Back pain, Exhaustion",3.0,Yes,Avarage,good
4,21.0,Female,Faculty of Life & Earth Science,Department of Microbiology,Agree,Zoom,2 Hours,14.0,45 - 60 minutes,2 semester,4.0,Yes,"Felt bored, Attention split, Anxiety, Monotonous",Yes,"Watery or dry eyes, Headache, Increased sensit...",8.0,No,Low,good

In [3]:
data.shape

(146, 19)

# Demographic Summary

In [3]:
rp.codebook(data['Age:'])

Variable: Age:    Data Type: float64

 Number of Obs.: 146
 Number of missing obs.: 0
 Percent missing: 0.0
 Number of unique values: 8

 Range: [18.0, 25.0]
 Mean: 21.55
 Standard Deviation: 1.47
 Mode: 21.0
 10th Percentile: 20.0
 25th Percentile: 21.0
 50th Percentile: 21.0
 75th Percentile: 22.75
 90th Percentile: 24.0

In [4]:
rp.summary_cat(data['Gender:'])

  Variable Outcome  Count  Percent
0  Gender:    Male     76    52.05
1           Female     70    47.95

## Basic information about online class

In [6]:
data.columns

Index(['Age:', 'Gender:', 'Faculty:', 'Department:', 'Do you agree-',
       'Which type of platforms  did you use?',
       'How long was the average class time?', 'Average classes per week:',
       'What is your preferred online class duration?',
       'How long have you been doing online classes?',
       'Satisfactory level in online class:',
       'Did you feel any mental disturbance during online class? ',
       'What kind of mental disturbance did you feel during online class?',
       'Did you face any physical  problem during online class? ',
       'What kind of physical problem  did you face during online class? ',
       'How attentive do you think you were in the online classes ?',
       'Do you prefer online classes over direct classes?',
       'Your understanding level in Online class vs. Direct Class: [Online Class]',
       'Your understanding level in Online class vs. Direct Class: [Direct class]'],
      dtype='object')

In [8]:
rp.summary_cat(data['Do you agree-'])

,Variable,Outcome,Count,Percent
0,Do you agree-,Agree,130,89.04
1,,Disagree,14,9.59
2,,Pretty much,1,0.68
3,,"By maintaining health tips, offline class is m...",1,0.68

In [10]:
platforms = data['Which type of platforms  did you use?'].str.get_dummies(sep=',')

In [11]:
rp.summary_cat(platforms)

                 Variable  Outcome  Count  Percent
0            GoToMeetings        0    145    99.32
1                                1      1     0.68
2             Google Meet        0    113    77.40
3                                1     33    22.60
4                   Skype        0    137    93.84
5                                1      9     6.16
6    Whats app  Messanger        0    145    99.32
7                                1      1     0.68
8                YouTube         0    145    99.32
9                                1      1     0.68
10            Google Meet        0    140    95.89
11                               1      6     4.11
12                   Zoom        1    139    95.21
13                               0      7     4.79
14     Zoom & Google Meet        0    145    99.32
15                               1      1     0.68

In [12]:
rp.summary_cat(data['How long was the average class time?'])

                               Variable    Outcome  Count  Percent
0  How long was the average class time?    1 Hours     90    61.64
1                                        1.5 Hours     39    26.71
2                                          2 Hours     11     7.53
3                                        2.5 Hours      3     2.05
4                                              1.0      1     0.68
5                                              3.0      1     0.68
6                                              4.0      1     0.68

In [13]:
rp.summary_cat(data['Average classes per week:'])

                     Variable  Outcome  Count  Percent
0   Average classes per week:      3.0     25    17.12
1                                  4.0     20    13.70
2                                  2.0     17    11.64
3                                 10.0     12     8.22
4                                  6.0     11     7.53
5                                  7.0      9     6.16
6                                  5.0      9     6.16
7                                 12.0      9     6.16
8                                  1.0      7     4.79
9                                  8.0      6     4.11
10                                16.0      4     2.74
11                                14.0      4     2.74
12                                15.0      4     2.74
13                                18.0      3     2.05
14                                 9.0      2     1.37
15                                20.0      2     1.37
16                                22.0      1     0.68
17                                 0.0      1     0.68

# Mental Problem

In [14]:
rp.summary_cat(data['Did you feel any mental disturbance during online class? '])

                                            Variable Outcome  Count  Percent
0  Did you feel any mental disturbance during onl...     Yes    101    69.18
1                                                         No     45    30.82

In [17]:
mps = data['What kind of mental disturbance did you feel during online class?'].str.get_dummies(sep=',')

In [19]:
rp.summary_cat(mps)

                          Variable  Outcome  Count  Percent
0                         Annoying        0    145    99.32
1                                         1      1     0.68
2                          Anxiety        0    119    81.51
3                                         1     27    18.49
4                  Attention split        0    106    72.60
5                                         1     40    27.40
6                       Depression        0    126    86.30
7                                         1     20    13.70
8                       Monotonous        0    119    81.51
9                                         1     27    18.49
10                      Mood swing        0    118    80.82
11                                        1     28    19.18
12   long time class is bad for me        0    145    99.32
13                                        1      1     0.68
14                         Anxiety        0    145    99.32
15                                        1      1     0.68
16                 Attention split        0    112    76.71
17                                        1     34    23.29
18                      Depression        0    143    97.95
19                                        1      3     2.05
20                      Felt bored        0     90    61.64
21                                        1     56    38.36
22                       Headache         0    145    99.32
23                                        1      1     0.68
24                      Monotonous        0    143    97.95
25                                        1      3     2.05
26                      Mood swing        0    144    98.63
27                                        1      2     1.37
28                 Network problem        0    145    99.32
29                                        1      1     0.68

In [22]:
rp.summary_cat(data['Did you face any physical  problem during online class? '])

                                            Variable Outcome  Count  Percent
0  Did you face any physical  problem during onli...      No     85    58.22
1                                                        Yes     61    41.78