In [9]:
import pandas as pd 
import researchpy as rp

In [10]:
# reading data 
data = pd.read_csv('JnU_Distance_Learning.csv')

In [11]:
data.head(2)

,Age,Gender,Definition,Which type of platforms did you use?,How long was the average class time?,Average classes per week,What is your preferred online class duration?,How long have you been doing online classes?,Satisfactory level in online class:,Did you feel any mental disturbance during online class?,What kind of mental disturbance did you feel during online class?,Did you face any physical problem during online class?,What kind of physical problem did you face during online class?,How attentive do you think you were in the online classes ?,Do you prefer online classes over direct classes?,Your understanding level in Online class vs. Direct Class: [Online Class],Your understanding level in Online class vs. Direct Class: [Direct class]
0,22,Female,Agree,Zoom,1 Hours,3,45 - 60 minutes,2 Semister,3,Yes,"Felt bored, Attention split, Depression, Mood ...",Yes,"Sore, tiredness in eye, burning or itching eye...",NaN,NaN,NaN,NaN
1,22,Female,Agree,Google Meet,3 Hours,16,45 - 60 minutes,0 semester,5,Yes,"Felt bored, Anxiety",Yes,"Sore, tiredness in eye, burning or itching eye...",NaN,NaN,NaN,NaN

In [12]:
# cleaning columns 
data.columns = data.columns.str.lower().str.strip().str.replace(' ', '_')

In [13]:
data.head()

,age,gender,definition,which_type_of_platforms__did_you_use?,how_long_was_the_average_class_time?,average_classes_per_week,what_is_your_preferred_online_class_duration?,how_long_have_you_been_doing_online_classes?,satisfactory_level_in_online_class:,did_you_feel_any_mental_disturbance_during_online_class?,what_kind_of_mental_disturbance_did_you_feel_during_online_class?,did_you_face_any_physical__problem_during_online_class?,what_kind_of_physical_problem__did_you_face_during_online_class?,how_attentive_do_you_think_you_were_in_the_online_classes_?,do_you_prefer_online_classes_over_direct_classes?,your_understanding_level_in_online_class_vs._direct_class:_[online_class],your_understanding_level_in_online_class_vs._direct_class:_[direct_class]
0,22,Female,Agree,Zoom,1 Hours,3,45 - 60 minutes,2 Semister,3,Yes,"Felt bored, Attention split, Depression, Mood ...",Yes,"Sore, tiredness in eye, burning or itching eye...",NaN,NaN,NaN,NaN
1,22,Female,Agree,Google Meet,3 Hours,16,45 - 60 minutes,0 semester,5,Yes,"Felt bored, Anxiety",Yes,"Sore, tiredness in eye, burning or itching eye...",NaN,NaN,NaN,NaN
2,22,Female,Agree,"Zoom, Google Meet",4 Hours,3,45 - 60 minutes,2 semester,3,Yes,"Felt bored, Attention split, Depression, Mood ...",Yes,"Sore, tiredness in eye, burning or itching eye...",NaN,NaN,NaN,NaN
3,22,Male,Agree,"Zoom, Google Meet",1.5 Hours,20,45 - 60 minutes,2 semester,5,Yes,"Felt bored, Attention split",Yes,"Back pain, Exhaustion",3.0,Yes,Avarage,good
4,21,Female,Agree,Zoom,2 Hours,14,45 - 60 minutes,2 semester,4,Yes,"Felt bored, Attention split, Anxiety, Monotonous",Yes,"Watery or dry eyes, Headache, Increased sensit...",8.0,No,Low,good

## Demographic Summary

In [14]:
rp.codebook(data['age'])

Variable: age    Data Type: int64

 Number of Obs.: 146
 Number of missing obs.: 0
 Percent missing: 0.0
 Number of unique values: 8

 Range: [18, 25]
 Mean: 21.55
 Standard Deviation: 1.47
 Mode: 21
 10th Percentile: 20.0
 25th Percentile: 21.0
 50th Percentile: 21.0
 75th Percentile: 22.75
 90th Percentile: 24.0

In [15]:
# with 95CI and SE
rp.summary_cont(data['age'])

  Variable      N     Mean      SD      SE  95% Conf.  Interval
0      age  146.0  21.5479  1.4673  0.1214    21.3079   21.7879

In [16]:
# age group 
groups = ["18-20", "21-23", "23-25"]
data['age_group'] = pd.cut(data['age'], 3, labels = groups)
data.head()

,age,gender,definition,which_type_of_platforms__did_you_use?,how_long_was_the_average_class_time?,average_classes_per_week,what_is_your_preferred_online_class_duration?,how_long_have_you_been_doing_online_classes?,satisfactory_level_in_online_class:,did_you_feel_any_mental_disturbance_during_online_class?,what_kind_of_mental_disturbance_did_you_feel_during_online_class?,did_you_face_any_physical__problem_during_online_class?,what_kind_of_physical_problem__did_you_face_during_online_class?,how_attentive_do_you_think_you_were_in_the_online_classes_?,do_you_prefer_online_classes_over_direct_classes?,your_understanding_level_in_online_class_vs._direct_class:_[online_class],your_understanding_level_in_online_class_vs._direct_class:_[direct_class],age_group
0,22,Female,Agree,Zoom,1 Hours,3,45 - 60 minutes,2 Semister,3,Yes,"Felt bored, Attention split, Depression, Mood ...",Yes,"Sore, tiredness in eye, burning or itching eye...",NaN,NaN,NaN,NaN,21-23
1,22,Female,Agree,Google Meet,3 Hours,16,45 - 60 minutes,0 semester,5,Yes,"Felt bored, Anxiety",Yes,"Sore, tiredness in eye, burning or itching eye...",NaN,NaN,NaN,NaN,21-23
2,22,Female,Agree,"Zoom, Google Meet",4 Hours,3,45 - 60 minutes,2 semester,3,Yes,"Felt bored, Attention split, Depression, Mood ...",Yes,"Sore, tiredness in eye, burning or itching eye...",NaN,NaN,NaN,NaN,21-23
3,22,Male,Agree,"Zoom, Google Meet",1.5 Hours,20,45 - 60 minutes,2 semester,5,Yes,"Felt bored, Attention split",Yes,"Back pain, Exhaustion",3.0,Yes,Avarage,good,21-23
4,21,Female,Agree,Zoom,2 Hours,14,45 - 60 minutes,2 semester,4,Yes,"Felt bored, Attention split, Anxiety, Monotonous",Yes,"Watery or dry eyes, Headache, Increased sensit...",8.0,No,Low,good,21-23

In [17]:
rp.summary_cat(data['age_group'])

    Variable Outcome  Count  Percent
0  age_group   21-23     74    50.68
1              23-25     37    25.34
2              18-20     35    23.97

In [18]:
rp.summary_cat(data['gender'])

  Variable Outcome  Count  Percent
0   gender    Male     76    52.05
1           Female     70    47.95

In [19]:
rp.summary_cat(data['how_long_was_the_average_class_time?'])

                               Variable    Outcome  Count  Percent
0  how_long_was_the_average_class_time?    1 Hours     91    62.33
1                                        1.5 Hours     39    26.71
2                                          2 Hours     11     7.53
3                                        2.5 Hours      3     2.05
4                                          3 Hours      1     0.68
5                                          4 Hours      1     0.68

## Distance Learning Information

In [20]:
rp.summary_cat(data['definition'])

,Variable,Outcome,Count,Percent
0,definition,Agree,130,89.04
1,,Disagree,14,9.59
2,,Pretty much,1,0.68
3,,"By maintaining health tips, offline class is m...",1,0.68

In [21]:
data['which_type_of_platforms__did_you_use?']

0                                                Zoom
1                                         Google Meet
2                                   Zoom, Google Meet
3                                   Zoom, Google Meet
4                                                Zoom
                            ...
141                                              Zoom
142                                       Google Meet
143                                              Zoom
144                                              Zoom
145    Zoom, Skype, Google Meet, Whats app  Messanger
Name: which_type_of_platforms__did_you_use?, Length: 146, dtype: object

In [22]:
data['which_type_of_platforms__did_you_use?'].value_counts(normalize=True) * 100

Zoom                                              70.547945
Zoom, Google Meet                                 17.808219
Google Meet                                        4.109589
Zoom, Skype, Google Meet                           3.424658
Zoom, Skype                                        1.369863
Zoom, YouTube                                      0.684932
Zoom, Skype, Google Meet, GoToMeetings             0.684932
Zoom & Google Meet                                 0.684932
Zoom, Skype, Google Meet, Whats app  Messanger     0.684932
Name: which_type_of_platforms__did_you_use?, dtype: float64

In [23]:
1.369863 + 0.684932 + 0.684932 + 0.684932+ 0.684932

4.109591

In [24]:
data['how_long_have_you_been_doing_online_classes?'].value_counts(normalize=True) * 100

2 semester    76.712329
1 semester    11.643836
3 semester     5.479452
5 semester     3.424658
4 semester     1.369863
2 Semister     0.684932
0 semester     0.684932
Name: how_long_have_you_been_doing_online_classes?, dtype: float64

In [25]:
data['how_long_was_the_average_class_time?'].value_counts(normalize=True) * 100

1 Hours      62.328767
1.5 Hours    26.712329
2 Hours       7.534247
2.5 Hours     2.054795
3 Hours       0.684932
4 Hours       0.684932
Name: how_long_was_the_average_class_time?, dtype: float64

In [26]:
data['average_classes_per_week'].describe()

count    146.000000
mean       6.575342
std        4.824986
min        0.000000
25%        3.000000
50%        5.000000
75%       10.000000
max       22.000000
Name: average_classes_per_week, dtype: float64

In [27]:
data['what_is_your_preferred_online_class_duration?'].value_counts(normalize=True) * 100

45 - 60 minutes     91.780822
65 - 80 minutes      7.534247
90 - 120 minutes     0.684932
Name: what_is_your_preferred_online_class_duration?, dtype: float64

In [28]:
data['satisfactory_level_in_online_class:'].value_counts(normalize=True) * 100

3     16.438356
5     16.438356
6     13.698630
1     13.013699
4      9.589041
2      9.589041
7      6.849315
8      6.164384
10     4.794521
9      3.424658
Name: satisfactory_level_in_online_class:, dtype: float64

In [29]:
rp.summary_cat(data['satisfactory_level_in_online_class:'])

                              Variable  Outcome  Count  Percent
0  satisfactory_level_in_online_class:        3     24    16.44
1                                             5     24    16.44
2                                             6     20    13.70
3                                             1     19    13.01
4                                             4     14     9.59
5                                             2     14     9.59
6                                             7     10     6.85
7                                             8      9     6.16
8                                            10      7     4.79
9                                             9      5     3.42

## Mental Disturbance

In [30]:
rp.summary_cat(data['did_you_feel_any_mental_disturbance_during_online_class?'])

                                            Variable Outcome  Count  Percent
0  did_you_feel_any_mental_disturbance_during_onl...     Yes    101    69.18
1                                                         No     45    30.82

In [31]:
# https://stackoverflow.com/questions/20162926/process-multiple-answer-questionnaire-from-google-forms-results-with-pandas
data['what_kind_of_mental_disturbance_did_you_feel_during_online_class?']

0      Felt bored, Attention split, Depression, Mood ...
1                                    Felt bored, Anxiety
2      Felt bored, Attention split, Depression, Mood ...
3                            Felt bored, Attention split
4       Felt bored, Attention split, Anxiety, Monotonous
                             ...
141                                                  NaN
142                                           Depression
143                                                  NaN
144                                                  NaN
145     Attention split, Anxiety, Monotonous, Mood swing
Name: what_kind_of_mental_disturbance_did_you_feel_during_online_class?, Length: 146, dtype: object

In [32]:
data['what_kind_of_mental_disturbance_did_you_feel_during_online_class?'].value_counts()

Attention split                                                             29
Felt bored                                                                  11
Felt bored, Attention split, Anxiety, Depression, Monotonous, Mood swing     6
Felt bored, Attention split, Monotonous, Mood swing                          6
Felt bored, Attention split                                                  5
Felt bored, Attention split, Monotonous                                      4
Monotonous                                                                   3
Felt bored, Attention split, Anxiety, Depression, Monotonous                 3
Depression                                                                   3
Felt bored, Attention split, Depression, Mood swing                          2
Felt bored, Anxiety, Mood swing                                              2
Felt bored, Attention split, Anxiety, Depression                             2
Mood swing                                                                   2
Felt bored, Attention split, Depression                                      2
Felt bored, Attention split, Anxiety, Monotonous                             2
Felt bored, Attention split, Anxiety, Monotonous, Mood swing                 2
Felt bored, Attention split, Anxiety, Mood swing                             2
Attention split, Anxiety, Depression, Mood swing                             1
Felt bored, Attention split, Mood swing                                      1
Felt bored, Attention split, Depression, Monotonous, Mood swing              1
Felt bored, Attention split, Anxiety                                         1
Attention split, Anxiety                                                     1
Headache                                                                     1
Anxiety                                                                      1
Attention split, Mood swing                                                  1
Felt bored, Anxiety, Depression, Mood swing                                  1
Felt bored, Monotonous, long time class is bad for me                        1
Felt bored, Attention split, Anxiety, Depression, Mood swing, Annoying       1
Attention split, Anxiety, Depression, Monotonous, Mood swing                 1
Network problem                                                              1
Felt bored, Anxiety                                                          1
Attention split, Anxiety, Monotonous, Mood swing                             1
Name: what_kind_of_mental_disturbance_did_you_feel_during_online_class?, dtype: int64

In [33]:
mental_problems = data['what_kind_of_mental_disturbance_did_you_feel_during_online_class?'].str.get_dummies(sep=', ')

In [24]:
mental_problems

,Annoying,Anxiety,Attention split,Depression,Felt bored,Headache,Monotonous,Mood swing,Network problem,long time class is bad for me
0,0,0,1,1,1,0,0,1,0,0
1,0,1,0,0,1,0,0,0,0,0
2,0,0,1,1,1,0,0,1,0,0
3,0,0,1,0,1,0,0,0,0,0
4,0,1,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
141,0,0,0,0,0,0,0,0,0,0
142,0,0,0,1,0,0,0,0,0,0
143,0,0,0,0,0,0,0,0,0,0
144,0,0,0,0,0,0,0,0,0,0
145,0,1,1,0,0,0,1,1,0,0

In [34]:
mental_problems = mental_problems.replace({0: "No", 1: 'Yes'})

In [35]:
mental_problems.columns = mental_problems.columns.str.strip() 

mental_problems.columns

Index(['Annoying', 'Anxiety', 'Attention split', 'Depression', 'Felt bored',
       'Headache', 'Monotonous', 'Mood swing', 'Network problem',
       'long time class is bad for me'],
      dtype='object')

In [36]:
rp.summary_cat(mental_problems)

                         Variable Outcome  Count  Percent
0                        Annoying      No    145    99.32
1                                     Yes      1     0.68
2                         Anxiety      No    118    80.82
3                                     Yes     28    19.18
4                 Attention split     Yes     74    50.68
5                                      No     72    49.32
6                      Depression      No    123    84.25
7                                     Yes     23    15.75
8                      Felt bored      No     90    61.64
9                                     Yes     56    38.36
10                       Headache      No    145    99.32
11                                    Yes      1     0.68
12                     Monotonous      No    116    79.45
13                                    Yes     30    20.55
14                     Mood swing      No    116    79.45
15                                    Yes     30    20.55
16                Network problem      No    145    99.32
17                                    Yes      1     0.68
18  long time class is bad for me      No    145    99.32
19                                    Yes      1     0.68

## Physical Problems

In [32]:
rp.summary_cat(data['did_you_face_any_physical__problem_during_online_class?'])

                                            Variable Outcome  Count  Percent
0  did_you_face_any_physical__problem_during_onli...      No     85    58.22
1                                                        Yes     61    41.78

In [33]:
data['what_kind_of_physical_problem__did_you_face_during_online_class?']

0      Sore, tiredness in eye, burning or itching eye...
1      Sore, tiredness in eye, burning or itching eye...
2      Sore, tiredness in eye, burning or itching eye...
3                                  Back pain, Exhaustion
4      Watery or dry eyes, Headache, Increased sensit...
                             ...
141                                                  NaN
142                                             Headache
143                                                  NaN
144                                                  NaN
145    Tiredness in eye, Watery or dry eyes, Headache...
Name: what_kind_of_physical_problem__did_you_face_during_online_class?, Length: 146, dtype: object

In [34]:
physical_problems = data['what_kind_of_physical_problem__did_you_face_during_online_class?'].str.get_dummies(sep=', ')

In [35]:
physical_problems.head()

,Back pain,Blurred or double vision,Burning or itching eyes,Exhaustion,Feeling that you cannot keep your eyes open,Headache,Increased sensitivity to light,Multiple symptoms of migraine,Neck pain,Shoulder ache,Sore,Sore neck,Tiredness in eye,Watery or dry eyes,burning or itching eyes,shoulders or back,tiredness in eye
0,1,0,0,0,0,1,1,0,1,0,1,1,0,1,1,1,1
1,1,1,0,0,1,1,0,0,1,1,1,0,0,1,1,0,1
2,1,0,0,0,0,1,0,0,1,0,1,1,0,1,1,1,1
3,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0

In [36]:
physical_problems = physical_problems.replace({0: "No", 1: 'Yes'})
physical_problems.head()

,Back pain,Blurred or double vision,Burning or itching eyes,Exhaustion,Feeling that you cannot keep your eyes open,Headache,Increased sensitivity to light,Multiple symptoms of migraine,Neck pain,Shoulder ache,Sore,Sore neck,Tiredness in eye,Watery or dry eyes,burning or itching eyes,shoulders or back,tiredness in eye
0,Yes,No,No,No,No,Yes,Yes,No,Yes,No,Yes,Yes,No,Yes,Yes,Yes,Yes
1,Yes,Yes,No,No,Yes,Yes,No,No,Yes,Yes,Yes,No,No,Yes,Yes,No,Yes
2,Yes,No,No,No,No,Yes,No,No,Yes,No,Yes,Yes,No,Yes,Yes,Yes,Yes
3,Yes,No,No,Yes,No,No,No,No,No,No,No,No,No,No,No,No,No
4,No,No,No,No,No,Yes,Yes,No,No,No,No,No,No,Yes,No,No,No

In [40]:
physical_problems.columns = physical_problems.columns.str.strip() 

physical_problems.columns

Index(['Back pain', 'Blurred or double vision', 'Burning or itching eyes',
       'Exhaustion', 'Feeling that you cannot keep your eyes open', 'Headache',
       'Increased sensitivity to light', 'Multiple symptoms of migraine',
       'Neck pain', 'Shoulder ache', 'Sore', 'Sore neck', 'Tiredness in eye',
       'Watery or dry eyes', 'burning or itching eyes', 'shoulders or back',
       'tiredness in eye'],
      dtype='object')

In [41]:
rp.summary_cat(physical_problems)

                                       Variable Outcome  Count  Percent
0                                     Back pain      No    111    76.03
1                                                   Yes     35    23.97
2                      Blurred or double vision      No    133    91.10
3                                                   Yes     13     8.90
4                       Burning or itching eyes      No    130    89.04
5                                                   Yes     16    10.96
6                                    Exhaustion      No    126    86.30
7                                                   Yes     20    13.70
8   Feeling that you cannot keep your eyes open      No    130    89.04
9                                                   Yes     16    10.96
10                                     Headache      No     99    67.81
11                                                  Yes     47    32.19
12               Increased sensitivity to light      No    123    84.25
13                                                  Yes     23    15.75
14                Multiple symptoms of migraine      No    145    99.32
15                                                  Yes      1     0.68
16                                    Neck pain      No    120    82.19
17                                                  Yes     26    17.81
18                                Shoulder ache      No    123    84.25
19                                                  Yes     23    15.75
20                                         Sore      No    143    97.95
21                                                  Yes      3     2.05
22                                    Sore neck      No    144    98.63
23                                                  Yes      2     1.37
24                             Tiredness in eye      No    105    71.92
25                                                  Yes     41    28.08
26                           Watery or dry eyes      No    125    85.62
27                                                  Yes     21    14.38
28                      burning or itching eyes      No    143    97.95
29                                                  Yes      3     2.05
30                            shoulders or back      No    144    98.63
31                                                  Yes      2     1.37
32                             tiredness in eye      No    143    97.95
33                                                  Yes      3     2.05

## Cross Tabulation

In [42]:
mental_problems

,Annoying,Anxiety,Attention split,Depression,Felt bored,Headache,Monotonous,Mood swing,Network problem,long time class is bad for me
0,No,No,Yes,Yes,Yes,No,No,Yes,No,No
1,No,Yes,No,No,Yes,No,No,No,No,No
2,No,No,Yes,Yes,Yes,No,No,Yes,No,No
3,No,No,Yes,No,Yes,No,No,No,No,No
4,No,Yes,Yes,No,Yes,No,Yes,No,No,No
...,...,...,...,...,...,...,...,...,...,...
141,No,No,No,No,No,No,No,No,No,No
142,No,No,No,Yes,No,No,No,No,No,No
143,No,No,No,No,No,No,No,No,No,No
144,No,No,No,No,No,No,No,No,No,No
145,No,Yes,Yes,No,No,No,Yes,Yes,No,No

In [43]:
mental_problems.columns

Index(['Annoying', 'Anxiety', 'Attention split', 'Depression', 'Felt bored',
       'Headache', 'Monotonous', 'Mood swing', 'Network problem',
       'long time class is bad for me'],
      dtype='object')

In [44]:
data.columns

Index(['age', 'gender', 'definition', 'which_type_of_platforms__did_you_use?',
       'how_long_was_the_average_class_time?', 'average_classes_per_week',
       'what_is_your_preferred_online_class_duration?',
       'how_long_have_you_been_doing_online_classes?',
       'satisfactory_level_in_online_class:',
       'did_you_feel_any_mental_disturbance_during_online_class?',
       'what_kind_of_mental_disturbance_did_you_feel_during_online_class?',
       'did_you_face_any_physical__problem_during_online_class?',
       'what_kind_of_physical_problem__did_you_face_during_online_class?',
       'how_attentive_do_you_think_you_were_in_the_online_classes_?',
       'do_you_prefer_online_classes_over_direct_classes?',
       'your_understanding_level_in_online_class_vs._direct_class:_[online_class]',
       'your_understanding_level_in_online_class_vs._direct_class:_[direct_class]',
       'age_group'],
      dtype='object')

In [55]:
cross, res = rp.crosstab(data['gender'], mental_problems['Felt bored'], test= "chi-square")

In [56]:
cross

           Felt bored
Felt bored         No Yes  All
gender
Female             37  33   70
Male               53  23   76
All                90  56  146

In [57]:
res

                Chi-square test  results
0  Pearson Chi-square ( 1.0) =    4.3910
1                    p-value =    0.0361
2               Cramer's phi =    0.1734

In [49]:
cross, res = rp.crosstab(data['age_group'], mental_problems['Annoying'], test= "chi-square")

In [50]:
cross

          Annoying
Annoying        No Yes  All
age_group
18-20           35   0   35
21-23           73   1   74
23-25           37   0   37
All            145   1  146

In [51]:
res

                Chi-square test  results
0  Pearson Chi-square ( 2.0) =    0.9797
1                    p-value =    0.6127
2                 Cramer's V =    0.0819

In [52]:
cross, res = rp.crosstab(data['how_long_was_the_average_class_time?'], mental_problems['Annoying'], test= "chi-square")

In [53]:
cross

                                     Annoying
Annoying                                   No Yes  All
how_long_was_the_average_class_time?
1 Hours                                    91   0   91
1.5 Hours                                  38   1   39
2 Hours                                    11   0   11
2.5 Hours                                   3   0    3
3 Hours                                     1   0    1
4 Hours                                     1   0    1
All                                       145   1  146

In [54]:
res

                Chi-square test  results
0  Pearson Chi-square ( 5.0) =    2.7625
1                    p-value =    0.7365
2                 Cramer's V =    0.1376